body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#welcome-page {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#welcome-page .container {
    z-index: 2;
    width: auto;
    height: auto;
    border: 1px solid white;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#welcome-page .container input[type=text] {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

#welcome-page .container button {
    background: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0px;
    border: 1px solid white;
    color: white;
    padding: 5px 0px;
    font-size: 20px;
    cursor: pointer;
}

#welcome-page .container button:hover {
    background: white;
    color: black;
}